<div id="<%= dom_id user %>">
  <p>
    <strong>Login:</strong>
    <%= user.login %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Account type:</strong>
    <%= user.account_type %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Account no:</strong>
    <%= user.account_no %>
  </p>

</div>
