<div id="<%= dom_id employee %>">
  <p>
    <strong>Employee:</strong>
    <%= employee.employee_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= employee.user_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= employee.manager_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position_id %>
  </p>

</div>
