<div id="<%= dom_id register %>">
  <p>
    <strong>Register:</strong>
    <%= register.register_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= register.employee_id %>
  </p>

  <p>
    <strong>Gate:</strong>
    <%= register.gate_id %>
  </p>

  <p>
    <strong>Date in:</strong>
    <%= register.date_in %>
  </p>

  <p>
    <strong>Time in:</strong>
    <%= register.time_in %>
  </p>

  <p>
    <strong>Date out:</strong>
    <%= register.date_out %>
  </p>

  <p>
    <strong>Time out:</strong>
    <%= register.time_out %>
  </p>

</div>
