<div id="<%= dom_id vacation %>">
  <p>
    <strong>Vacation:</strong>
    <%= vacation.vacation_id %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= vacation.employee_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= vacation.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= vacation.end_date %>
  </p>

  <p>
    <strong>Vacation type:</strong>
    <%= vacation.vacation_type %>
  </p>

  <p>
    <strong>Decision:</strong>
    <%= vacation.decision %>
  </p>

</div>
